{% extends "base.html" %}


{% block app_content %}
  <p><h1>  First Website in my Life!  </h1>
  <h2>  自我介紹  <hr/></p>
  <h3><b><i>學經歷</br>----aa---</h3><hr/>
  <h4><em>~~~</h4>
  <div style="border:2px orange solid;">這是個有橘色邊框的 HTML div</div>
  <div style="background-color:pink;">這是個有粉紅色背景色的 HTML div</div>
  <div style="border:2px orange solid;padding:15px;">
  <div style="background-color:pink;">這是個有粉紅色背景色的 HTML div</div>
  <span style="background-color:red;margin-right:5px;">藍色的背景顏色</span>
  </div>
  
  <a href="http://www.ltu.edu.tw/"><img src="https://media4.giphy.com/media/DhstvI3zZ598Nb1rFf/giphy.webp" width="600" height="400" alt="school" title="LTU"></a>
{% endblock %}